[flake8]
max-line-length = 88
per-file-ignores =
    __init__.py: F401
# Black already handles E501 - line too long, ignored for docstring anomolies.
# W503 - line break before binary operator, ignored for Black, flake8 cannot decide what style lmao.
extend-ignore = E501,W503,F403,F405
