version: "3"

services:
  bot:
    env_file: .env
    depends_on:
      - lavalink
    build: .
    volumes:
      - ./logs:/bot/logs
      - ../mafic:/bot/mafic
    network_mode: host
  lavalink:
    build: lavalink
    volumes:
      - ./logs/lava:/opt/Lavalink/logs
    deploy:
      replicas: 8
    ports:
      - "6962-6969:6969"
